/* 
    Created on : Dec 5, 2016, 12:57:06 PM
    Author     : Danieil Skrinikov
*/

#index_body{
    background-color:#F0F0F0 /*#FF6961*/;
    height:100%;
}

.parent_index{

    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    margin-top: 8%;
}

.parent_index h1{
    color:#222;
    font-size:50px;
    text-shadow: 1px 1px #181818;
}
.parent_index h1 span{
    font-weight:bold;
    border-bottom: 5px solid #779ECB;
}

.index_input{
    border:2px solid #FFC172;
    background-color: rgba(255, 193, 114, 0.5);
    color:#fff;
}

.nav_index{
    color:#fff;
}

.btn-warning{
    background-color: #779ECB;
    border-color:#79A0ED;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #222;
  background-color: #F0F0F0;
  border-color: #A0A0A0;
}

.navbar{
    color:#fff
}

/* Following css was taken from http://bootsnipp.com/snippets/featured/toggle-navbar-with-slide-down-animation */
/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/
.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; transition: transform 0.3s; }

.navbar .navbar-collapse { position: relative; overflow: hidden !important; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}


@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
    
    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }
    
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}
/* End of taken code*/

.custom-header{
    border-bottom: 4px solid #FFC172;
    color:#333;
    display:inline-block;
    padding-left:1%;
    padding-right:1%;
    transition: padding-left 1s, padding-right 1s;
}

.custom-header:hover{
    padding-left:3%;
    padding-right:3%;
}

.custom-form{
    font-family: 'lato', sans-serif;
    margin-top: 5%;
}

.custom input{
    background: none;
    border-bottom: 1px solid #909090;
}

#emailHelp{
    color:#f0f0f0;
}

.btn-color-white{
    color:#fff;
}

.margin-small{
    padding-top: 15%;
}


.half {
    position:relative;
}

.separator{
    border-top:1px solid #444;
    border-bottom:1px solid #444;
}

.stars{
    color:#454545;
    transition: color 2s;
}

.stars:hover{
    color:#FFC172;
}

.image-container{
    height:200px;
    max-height: 200px;
    max-width: 100%;
}

.image-container img{
    width:100%;
    height:100%;
}

.border-right{
    border-right: #343434 solid 2px;
}

.header-custom, .header-custom:hover{
    background-color:#779ECB;
    color:#fff;
    text-decoration: none;
    transition: background-color 0.5s 
}

.magnify:hover > a > div{
    background-color: #ABCDEF;
}

/* Resto details css */

.resto-name{
    border-bottom: 4px solid #FFC172;
    color:#222;
    display:inline-block;
    font-size: 50px;
    padding-left:1%;
    padding-right:1%;
    transition: padding-left 1s, padding-right 1s;
}

.resto-name:hover{
    padding-left:3%;
    padding-right:3%;
}

.footer-pretty{
    background-color: #f49076;
    margin-top: 20px;
}

.separators{
    border-top: solid 2px #676767;
    border-bottom: solid 2px #676767;
}